:root {
    --gold: #D4AF37;
    --dark: #0f172a;
    --white: #ffffff;
    --gray: #1a1a1a;
    --light-gray: #f8fafc;
    --text-muted: #94a3b8;
    --transition: all 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; /* This makes the links "glide" */
  }
  
  body {
    padding-top: 5.5em;
    margin: 0.8rem;
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(#a5acb9,#303643);
    color: #F8F7F4;;
    line-height: 1.6;
  }

  .logo { font-size: 1.8rem; font-weight: bold; letter-spacing: 3px; color: var(--gold); }

  h1{
    color: #D4AF37;
  }
  
  #home {
    height: 50vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), 
                url('/assets/IMA_MARKET.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #home p{
    font-size: 1.3rem;
  }

  #vision{
    display: flex;
    justify-content: space-evenly;
  }

  #vision .card{
    width: 48%;
    background-color: rgba(255,255,255,0.08);
    gap: 10px;
    padding: 2rem;
    margin: 0.8rem;
    border: 0.02rem solid rgba(255,255,255,0.15);
    border-radius: 1rem;
    color: #F9FAFB;
  }

  .card{
    background-color: rgba(255,255,255,0.08);
    gap: 10px;
    padding: 2rem;
    margin: 1.2rem;
    border: 0.02rem solid rgba(255,255,255,0.15);
    border-radius: 1rem;
    color: #F9FAFB;
    font-size: 1.2rem;
  }

  #qoute{
    height: 20vh;
    margin: 2.5rem 0;
  }

  #qoute .card{
    height: 100%;
    background-color: rgba(255,255,255,0.08);
    padding: 2rem;
    margin: 1.2rem;
    border: 0.02rem solid rgba(255,255,255,0.15);
    border-radius: 1rem;
    color: #F9FAFB;
    text-align: center;
    justify-content: center;
    font-size: 2.5rem;
  }

  