body {
  font-family: 'Inter', sans-serif;
  background-image: linear-gradient(#778873,#A1BC98);
  color: var(--white);
  line-height: 1.6;
}

#hero{
  height: 50vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
              url('/assets/hero_background.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero_text{
  width: 100vh;
  padding-left: 15vh;
  font-size: 2rem;
}

#staple{
  margin: 2vh 4vh;
  background-color: #7fa676;
  border-radius: 1rem;
}

#staple .container{
  display: flex;
  justify-content: center;
  margin: 0;
}

#staple .card{
  width: 48%;
  height: 30vh;
  padding: 5vh;
  align-items: center;
  font-size: 1.2rem;
}

#staple .card img{
  width: 80%;
  height: 100%;
  padding-left: 17vh;
}

#popular .container{
  display: flex;
  justify-content: space-evenly;
}

#popular .card{
  background-color: #d5e0d5;
  padding: 5vh;
  height: 60vh;
  color: black;
  margin: 5vh;
}

#popular .card img{
  width: 30vh;
  height: 20vh;
}

#popular .card h2{
  color: #757875;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1vh;
}

#popular p{
  font-size: 0.85rem;
  text-wrap: wrap;
  margin-top: 2vh;
}