
body{
  font-family: 'Inter', sans-serif;
  background-color: #2c2e3a;
  color: var(--white);
  line-height: 1.6;
}

.culture-hero{

  height:100vh;

  width:100%;

  position:relative;

  background:
  linear-gradient(rgba(0,0,0,.55),
  rgba(0,0,0,.65)),
  url("/assets/NUPI-JAGOI.png");

  background-size:cover;

  background-position:center;

  display:flex;

  align-items:center;

  justify-content:center;

  text-align:center;

  overflow:hidden;

}

.hero-content{

  width:90%;

  max-width:850px;

  color:white;

  z-index:2;

}

.hero-subtitle{

  letter-spacing:4px;

  text-transform:uppercase;

  color:#d5b66a;

  font-size:.95rem;

}

.hero-content h1{

  font-size:5rem;

  margin:20px 0;

  font-weight:700;

  line-height:1.1;

}

.hero-content p{

  font-size:1.15rem;

  line-height:1.8;

  color:#d7d7d7;

  margin-bottom:40px;

}

.hero-buttons{

  display:flex;

  justify-content:center;

  gap:20px;

  flex-wrap:wrap;

}

.btn-primary{

  padding:16px 35px;

  background:#d4af37;

  color:#111;

  text-decoration:none;

  border-radius:50px;

  font-weight:600;

  transition:.3s;

}

.btn-primary:hover{

  background:white;

}

.btn-secondary{

  padding:16px 35px;

  border:2px solid white;

  color:white;

  border-radius:50px;

  text-decoration:none;

  transition:.3s;

}

.btn-secondary:hover{

  background:white;

  color:black;

}

@media(max-width:768px){

.hero-content h1{

font-size:3rem;

}

.hero-content p{

font-size:1rem;

}

}

#info{
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 5vh;
  margin: 5vh;
}

.line{
  border: 1.8px solid white;
  height: 8vh;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 24%;
    padding: 5px;
    
  }
  
  .flex-container {
    display: flex;
    flex: 23%;
    flex-direction: row;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
  }
  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
      flex: 49.99%;
    }
  }
    

